
@{
    ViewBag.Title = "Posts";
}

<h3>This is the POSTS View!</h3>

<p>
    <a href="@Url.RouteUrl("login")">Click here</a> to Login!
</p>

<p>
    @Html.RouteLink("Click here", "login") to Login!
</p>
