
@{
    ViewBag.Title = "Login";
}

<h3>This is the LOGIN View!</h3>
<p>
    <a href="@Url.RouteUrl("Index")">Click</a> to see Posts!
</p>

<p>
    @Html.RouteLink("Click here", "Index") to see Posts!
</p>

